@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }
  body {
    display: -ms-grid;
    display: grid;
    text-decoration: none;
    background-color: #133E7C;
  }
  body header {
    z-index: 999;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #091833;
    -webkit-box-shadow: 0px 4px 10px #0099FF;
            box-shadow: 0px 4px 10px #0099FF;
    text-align: center;
  }
  body header h1 {
    font-family: 'Nunito', sans-serif;
    color: #0099ff;
    margin: 0;
    padding: 0;
    font-size: 34px;
    text-shadow: 0px 0px 20px #0099ff;
  }
  body .sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 30px;
    height: 25vh;
    max-height: 30vh;
    width: 90vw;
    max-width: 80vw;
    background-color: #091833;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  body #sectionJudges {
    color: #E5EA00;
    text-shadow: 0px 0px 20px #E5EA00;
  }
  body #sectionClubs {
    color: #0ABDC6;
    text-shadow: 0px 0px 20px #0ABDC6;
  }
  body #sectionlearning {
    color: #EA00D9;
    text-shadow: 0px 0px 20px #EA00D9;
  }
  body #sesion {
    display: none;
    -ms-grid-rows: 20px 25px 25px 1fr;
        grid-template-rows: 20px 25px 25px 1fr;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    height: 150px;
    width: 80vw;
    max-width: 350px;
    background-color: #e6e6e6;
    border-radius: 25px;
    border-radius: 5px;
  }
  body #sesion #sesionText {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    color: #0099ff;
    font-weight: 400;
    text-align: center;
  }
  body #sesion #sesionUser, body #sesion #sesionPassword {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    margin: auto;
    height: 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 6px;
    margin-top: 5px;
  }
  body #sesion #sesionUser::-webkit-input-placeholder, body #sesion #sesionPassword::-webkit-input-placeholder {
    color: #5c5c5c48;
    font-weight: 400;
    font-size: 12px;
  }
  body #sesion #sesionUser:-ms-input-placeholder, body #sesion #sesionPassword:-ms-input-placeholder {
    color: #5c5c5c48;
    font-weight: 400;
    font-size: 12px;
  }
  body #sesion #sesionUser::-ms-input-placeholder, body #sesion #sesionPassword::-ms-input-placeholder {
    color: #5c5c5c48;
    font-weight: 400;
    font-size: 12px;
  }
  body #sesion #sesionUser::placeholder, body #sesion #sesionPassword::placeholder {
    color: #5c5c5c48;
    font-weight: 400;
    font-size: 12px;
  }
  body #sesion #sesionPassword {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  body #sesion #sesionButton {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    width: 200px;
    padding: 7px;
    margin: auto;
    background-color: #0099ff;
    margin: auto;
    border-radius: 15px;
    color: #ffffff;
    font-weight: 600;
    border: none;
    -webkit-box-shadow: 2px 3px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 3px rgba(0, 0, 0, 0.4);
  }
}
/*# sourceMappingURL=style.css.map */